@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Cinzel+Decorative&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.title span {
  color: #dd1000;
}

.smooth-transform {
  transition: all 0.2s ease;
}

.effective-btn {
  opacity: 0;
}

.effective-item:hover .effective-btn {
  opacity: 1;
}
